.idea

# Игнорируем всё содержимое директорий, кроме исключений
/admin/*
!/admin/view/
/admin/view/*
!/admin/view/template/
/admin/view/template/*
!/admin/view/template/extension/
/admin/view/template/extension/*
!/admin/view/template/extension/feed/
/admin/view/template/extension/feed/*
!/admin/view/template/extension/feed/rozetka/
!/admin/view/template/extension/feed/rozetka.tpl

!/admin/controller/
/admin/controller/*
!/admin/controller/extension/
/admin/controller/extension/*
!/admin/controller/extension/feed/
/admin/controller/extension/feed/*
!/admin/controller/extension/feed/rozetka.php

!/admin/language/
/admin/language/*
!/admin/language/ru-ru/
/admin/language/ru-ru/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/feed/
/admin/language/ru-ru/extension/feed/*
!/admin/language/ru-ru/extension/feed/rozetka.php

!/admin/view/stylesheet/
/admin/view/stylesheet/*
!/admin/view/stylesheet/rozetka.css

!/admin/view/javascript/
/admin/view/javascript/*
!/admin/view/javascript/rozetka/
!/admin/view/javascript/rozetka.js
!/admin/view/javascript/boot.js

!/admin/model/
/admin/model/*
!/admin/model/extension/
/admin/model/extension/*
!/admin/model/extension/feed/
/admin/model/extension/feed/*
!/admin/model/extension/feed/rozetka.php

/system/*
!/system/library/
/system/library/*
!/system/library/Rozetka/
!/system/library/RozetkaFeedGenerator.php

/catalog